# ignore large data set files due to github size limits
*tripdata.csv

# ignore checkpoint files
*checkpoint.ipynb

# ignore master data set
bikes_master.csv

# ignore cleaning data file (mostly for experimenting)
Cleaning_Data.ipynb
